
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');
body {
    margin: 0;
    background-image: url('stardewbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  padding: 0;
  font-family: 'Pixelify Sans', sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
}
  
.loading-container {
  display: grid;
  text-align: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    
}

#newButton {
  width: 20%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#newButton:hover {
  transform: scale(1.1); 
}



/* for main page */
  .parent {
    display: grid;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;

    
  }

  .grid-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    justify-content: center; 
    
  }
  
  .secondColumn {
    display: grid;
    border: 8px solid #c47309;
    background-image: url('woodcropped.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
  }
  .grid-item {
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }

  #nextButton {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 auto ;
    background-color: #E8CE80;
    border: 6px solid #aa660d; 
    border-radius: 3px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    transition: transform 0.2s ease-in-out;
  }

  #nextButton:hover {
    transform: scale(1.1); 
  }

  #dialogueBox {
    padding: 20px;
    background-color: #E8CE80;
    border: 10px solid #c47309; 
    display: none;
    word-wrap: break-word;
  }

  #bottomImage {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
  }
  
  #dialogueText {
    margin: 0 auto;
    white-space: normal;
    overflow: hidden;
    font-size: 2em;
    opacity: 0; /* Initially hide the text */
    animation: fadeIn 2s forwards; /* Use a fadeIn animation instead of typing */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.expContainer {
  gap: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

#explainer {
  padding: 20px;
  padding: 10px;
  background-color: #E8CE80;
  border: 7px solid #c47309; 
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

#explainer:hover {
  transform: scale(1.1); 
}

#back {
  padding: 20px;
  padding: 10px;
  background-color: #E8CE80;
  border: 7px solid #c47309; 
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

#back:hover {
  transform: scale(1.1); 
}



